.card {
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    &__title{
        font-size: 18px;
        font-weight: 600;
    }
    &__text{
        font-size: $font-size-medium;
    }
    &__time{
        font-size: 12px;
        font-style: italic;
        padding-bottom: $step;
    }
    &__link{
        text-align: right;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
    } 
    &__link:hover {
        color: $color-active-link; 
        text-decoration: none;
       }
       
    
}