.section-content{
    min-height: 75vh;
    max-height: auto;
    text-align: justify;
    border: solid 1px;
    border-color: $border-color;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $bg-color;
    &__text{
        font-size: 18px;
        font-weight: 300;
        padding: $step*4 $step*8;
        text-align: center;
        line-height: 2;
        font-family: PT Serif, Georgia, serif;
    }
    &__author{
        font-size: 18px;
        font-weight: 600;
        padding: $step*2 $step*2;
        text-align: right;
        font-family: PT Serif, Georgia, serif;
    }
}