.section-content {
    display: grid;
    grid-template-rows: auto;
    grid-gap: $step*3;
    min-height: 75vh;
    text-align: justify;
    border: solid 1px $border-color;
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    background-color: $bg-color;
    text-align: center;
    &__title {
        font-size: 48px;
        font-weight: 800;
        padding-top: $step * 6;
    }
    &__text {
        font-size: 18px;
        font-weight: 300;
        padding: 0px $step * 8;
        &_bold {
            font-weight: 600;
            text-align: right;
        }
    }
}

.carousel {
    color: $text-color;
    width: 100%;
    height: auto;
    margin: $step * 3 auto;
}