@import "./variables";

#root {
    background-color: #f2f2f2;
}

.header{
    margin-bottom: 72px;
}

.section-content{
    margin-bottom: 72px;
    border-radius: 6px;
}

.card{
    margin-bottom: $step*4;
}

.footer{
    flex-shrink: 0;
    min-height: 40vh;
    max-height: 50vh;
}