$bg-color: #ffffff;
$text-color: #000;
$step: 8px;
$grid-column: 12;
$border-color: #f2f2f2;
$color-active-btn: #6c757d;
$color-btn: #343a40;
$color-active-link: #aaa8a8; 
$font-weight-thin: 300;
$font-size-medium: 16px;
$font-size-default: 14px;