.recipe{
    text-align: justify;
    border: solid 1px $border-color;
    font-weight: 400;
    color: $text-color;
    font-family: PT Serif, Georgia, serif;
    background-color: $bg-color;
    &__wrap{
       width: auto;
       padding-left: $step*5;
       padding-right: $step*3;
    }
    &__title{
        font-size: 48px;
        font-weight: 800;
        color: $text-color;
        padding-top: $step*2;
        padding-bottom: $step*2;
        text-align: center;
        font-family: PT Serif, Georgia, serif;
    }

    &__subtitle{
        font-weight: 600;
    }
    &__image{
        width: 280px;
        height: 177px ;
    }

    &__ingredients{
        background-color: $bg-color;

    }
    &__instruction{
        background-color: $bg-color;
    }  
}

