.section-mainpage{
    min-height: 75vh;
    max-height: 100vh;
    text-align: justify;
    border: solid 1px;
    border-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $bg-color;
    &__text{
        font-size: 18px;
        font-weight: 300;
        padding: $step*6 $step*8;
        text-align: center;
        line-height: 2;
        font-family: PT Serif, Georgia, serif;
    }
   
}