.section-resipes{
    height: auto;
    padding: $step*4 $step*2;
    font-family: PT Serif, Georgia, serif;
    color: $text-color;
    background-color: $bg-color;
    &__pages {
       background-color: $bg-color;
    }
}

.page-loader{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: $step*4 $step*2;
    align-items: center;

     &__text{
        padding-bottom: $step*3;
        color: $color-btn;
        font-size: 18px;
        line-height: 2;
        font-weight: 600;
    }
}

.button-pagination {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    // color: $bg-color;
    // background-color: $color-active-btn;
    // border-color:$color-active-link;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pagination > li > a
{
    background-color: $bg-color;
    color:$color-btn;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: $bg-color;
    background-color: $color-active-btn;
    border-color:$color-active-btn;
}

.pagination > .active > a
{
    color: white;
    background-color: $color-active-btn;
    border: solid 1px $color-active-btn;
}

.pagination > .active > a:hover
{
    background-color: $color-active-btn;
    border: solid 1px $color-active-btn;
}

