@import "../variables";

.header {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $bg-color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.menu {
    &__link{
        display: flex;
        font-size: 16px;
        padding-left: $step*2; 
        text-align: center;
        line-height: 2;
        color: $text-color;
        text-decoration: none; 
       }
       &__link:hover {
        color: $color-active-link; 
        text-decoration: none;
    }
}

.logo{
    font-weight: 600;
    font-size: 18px;
}

.button {
    color:$color-btn;
}

.input{
    color:$color-btn;
}