@import "../variables";

.header {
    color: $text-color;
    background-color: $bg-color;
    font-family: PT Serif, Georgia, serif;
    font-size: $font-size-medium;
}

.menu {
    &__link {
        display: flex;
        padding-left: $step * 2;
        text-align: center;
        line-height: 2;
        color: $text-color;
        text-decoration: none;
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        padding: 0px $step;
    }
    &__link:hover {
        color: $color-active-link;
        text-decoration: none;
    }
}

.logo {
    width: 32px;
    height: 42px;
    margin-bottom: $step;
}

.button {
    color: $color-btn;
}

.input {
    color: $color-btn;
}
